html {
    scroll-behavior: smooth;
}

@keyframes rebota {
    0% {
      transform: rotate(0deg);
      margin-top: 10vh;
      opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    100% {
        transform: rotate(360deg);
        margin-top: 70vh;
    }
  }

.site {
    background: rgb(31,51,122);
    background: linear-gradient(75deg, rgba(31,51,122,1) 8%, rgba(85,130,171,1) 69%);
    height: 100vh;
}

.texto-header {
    font-family: 'Yusei Magic', sans-serif;
}

.texto-body {
    font-family: 'Open Sans', sans-serif;
}

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
  }

  .bi-shop:hover {
    color: rgb(168, 168, 168);
    background-color: transparent;
    text-decoration: underline;
  }

  .bi-instagram:hover {
    color: rgb(168, 168, 168);
    background-color: transparent;
    text-decoration: underline;
  }

  .bi-whatsapp:hover {
    color: rgb(168, 168, 168);
    background-color: transparent;
    text-decoration: underline;
  } 

.metodoPago {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}